<div id="<%= dom_id(chat) %>" class="p-4 border-b border-gray-700 bg-gray-800 flex flex-nowrap">
  <%# Chat Header (Title/Description/Actions) - Takes 66% of the width %>
  <div style="width: 67%;" class="pr-4">
    <h1 class="text-xl font-semibold text-gray-100"><%= chat.title %></h1>
    <% if chat.description.present? %>
      <p class="text-sm text-gray-400"><%= chat.description %></p>
    <% end %>
    <p class="text-xs text-gray-500">Model: <%= chat.model_id %></p>
    <div class="flex flex-wrap gap-2 mt-4">
        <%= link_to "ðŸ“ Edit", edit_chat_path(chat), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
        <%= button_to "ðŸ—‘ï¸ Delete", chat_path(chat), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this chat?" } }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
        <% unless chat.too_short? %>
          <% if chat.ugly_title? %>
            <%= button_to "ðŸŽ¨ Title", regenerate_title_chat_path(chat), method: :patch, class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
          <% end %>
          <% if !chat.ugly_title? %>
            <% if chat.description.blank? %>
              <%= button_to "ðŸ“ Desc", generate_description_chat_path(chat), method: :patch, class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
            <% else %>
              <%= button_to "ðŸ”„ Desc", generate_description_chat_path(chat), method: :patch, class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
            <% end %>
          <% end %>
          <%= button_to "âœ¨ Lucky", im_feeling_lucky_chat_path(chat), method: :patch, class: "bg-purple-500 hover:bg-purple-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
        <% end %>
    </div>
  </div>

  <%# Image - Takes 33% of the width %>
  <div style="width: 33%;">
    <% if chat.generated_image.attached? %>
      <%= link_to url_for(chat.generated_image), target: "_blank" do %>
        <%= image_tag chat.generated_image, class: "w-full h-auto rounded-lg" %>
      <% end %>
      <div class="flex space-x-2 mt-2">
        <%= button_to "ðŸ—‘ï¸ Delete", delete_image_chat_path(chat), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
        <% unless chat.too_short? %>
          <%= button_to "ðŸ”„ Regenerate", generate_image_chat_path(chat), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded-full text-xs" %>
        <% end %>
      </div>
    <% else %>
      <% unless chat.too_short? %>
        <%= button_to "ðŸª„ Generate Image", generate_image_chat_path(chat), method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg" %>
      <% end %>
    <% end %>
  </div>
</div>